@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example CSS for custom scrollbars */
.scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #3490dc #e5e5e5; /* For Firefox */
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* For Chrome, Safari, and Edge */
}

.scrollbar::-webkit-scrollbar-track {
  background: #e5e5e5; /* Track color */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #3490dc; /* Thumb color */
  border-radius: 10px; /* Roundness of the thumb */
}
